
.form-page{
      min-height: 100vh; 
}

.card-login{
    background-color: #ece9e1;
    padding: 40px;
    border-radius: 20px;
  box-shadow: 8px 8px 20px 5px #e5e3de42;
}

.social-icon{
    padding: 10px 0 30px;
}

.social-icon .anticon svg{
    font-size: 30px;
    color: #a88163;
}

.card-login p{
    text-align: center;
}