.container-section-story {
  padding: 60px 100px;
}

.container-section-story .container-imgs {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

.container-section-story .container-imgs img {
  border-radius: 20px;
  position: absolute;
  width: 220px;
  height: 320px;
  object-fit: cover;
}

.container-section-story .container-imgs img:nth-of-type(1) {
  top: 20px;
  transform: translateX(-70px);
  z-index: 2;
}

.container-section-story .container-imgs img:nth-of-type(2) {
  top: 80px;
  transform: translateX(70px);
  z-index: 1;
}

.container-section-story .container-text {
  line-height: 1.6;
  padding: 0 50px;
}

.container-section-story .container-text h2 {
  margin-bottom: 10px;
  margin-top: 30px;

}

.container-section-story .container-text h2:first-of-type {
  margin-top: 0;
}

.container-section-story .container-text p {

  margin-bottom: 10px;
  color: #555;
}