* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  overflow-x: hidden;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-content {
  flex: 1;
}
.layout-footer {
  margin-top: auto;
}

h2 {
  color: #361a00;
  font-size: 1.7em;
}

a, .ant-btn-link{
  color: #8e694d;
}

a:hover, .ant-btn-link:hover {
  color: #361a00 !important;
}

