.modal-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.modal-detail img{
width: 100%;
height: 100%;
max-width: 150px;
border-radius: 10px;

}

.modal-detail ul{
    margin: 0;
    padding:0 20px;
}
.modal-detail h3{
   font-weight: 700;
}