.container-section-quality{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 40px;
    background-color: #ece9e1;

}
.container-section-quality img{
    width: 100%;

   border-radius: 10px;
   object-fit: contain;
}

.container-text{
    line-height: 1.6;
   max-width: 500px;
}

.container-text h2{
   
    margin-bottom: 10px;
    margin-top: 20px;
}

.container-text p{
    font-size: 0.9em;
    margin-bottom: 20px;
}