.container-footer {
  background-color: #a88163;
  color: #fff;
  margin-top: 40px;
  padding-top: 30px;
  width: 100%;
  box-sizing: border-box;
}

.container-footer > .ant-row:last-of-type {
  background-color: #8e694d;
  margin-top: 30px;

  margin-left: 0;
  margin-right: 0;
  padding: 10px;
}

.logo-footer {
  width: 120px;
}

.container-footer a {
  color: #fff;
}

.social-footer span {
  font-size: 20px;
  padding-right: 10px;
  padding-top: 20px;
}
