.section-hero-about {
  position: relative;

  width: 100%;
  overflow: hidden;
}

.container-hero-about {
  width: 100vw;
  height: 400px;
 
}

.container-hero-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.container-text-hero-about {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateX(-50%);
 
}

.container-text-hero-about h1{
 
  font-size: 2.5em;
}
