.section-hero {
  position: relative;

width: 100%;
  overflow: hidden;
}

.container-hero {
  width: 100vw;
  height: 400px;

}

.container-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 70%;
  opacity: 0.8;
  
}

.container-text-hero {
  position: absolute;
  left: 20%;
  top: 40%;
  transform: translateX(-50%);
  text-align: start;
}

.container-text-hero Button {
  width: 200px;
  margin-top: 30px;
}
