.container-contactPage{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.container-section-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
}
.container-section-contact img{
    width: 60px;
}