.logo {
  width: 150px;
  height: auto;
  margin-top: 10px;
}

.logo-col {
  display: flex;
  justify-content: center;
}

.user-col {
  display: flex;
  justify-content: end;
}

.links-width {
  margin-top: 50px;
  font-weight: 600;
}

.links-width .ant-menu-overflow-item {
  flex: 1;
  margin: 0 !important;
  text-align: center;
}

.links-width .ant-menu-item {
  justify-content: center !important;
}
