.logo {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

.logo-col {
  display: flex;
  justify-content: center;
}

.user-col {
  display: flex;
  justify-content: center;

}

.links-width {
  margin-top: 50px;
  font-weight: 600;
}

.links-width .ant-menu-overflow-item {
  flex: 1;
  margin: 0 !important;
  text-align: center;
}

.links-width .ant-menu-item {
  justify-content: center !important;
}

.ant-dropdown-trigger{
  border: 1px solid #a88163;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
padding: 5px 20px;
transition: all 0.3 ease;
box-shadow: none !important;
cursor: pointer;
}
.ant-dropdown-trigger:hover{
  background-color: #a88163;
  border-color: #8b4513;
}

.menu-user-logged{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-user-logged p{
  margin: 0;

}