.section-hero-contact {
  position: relative;
  background-color: red;
  width: 100%;
  overflow: hidden;
}

.container-hero-contact {
  width: 100vw;
  height: 400px;
  background-color: red;
}

.container-hero-contact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-text-hero-contact {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateX(-50%);
 
}

.container-text-hero-contact h2{
  color: #fff;
  font-size: 2em;
}
